In [3]:
from PAMI.frequentPattern.basic import Apriori  as alg
import pandas as pd
#Nama: Joseph Christian
#Kelas: C14200200

File Initiation

In [4]:
inputFile = 'transactional_T10I4D100K.csv'
df = pd.read_csv(inputFile)
df

     25\t52\t164\t240\t274\t328\t368\t448\t538\t561\t630\t687\t730\t775\t825\t834
0       39\t120\t124\t205\t401\t581\t704\t814\t825\t834
1                 35\t249\t674\t712\t733\t759\t854\t950
2       39\t422\t449\t704\t825\t857\t895\t937\t954\t964
3     15\t229\t262\t283\t294\t352\t381\t708\t738\t76...
4                      26\t104\t143\t320\t569\t620\t798
...                                                 ...
6251                       177\t214\t354\t579\t648\t745
6252                   31\t125\t143\t381\t417\t895\t934
6253                                 277\t793\t914\t984
6254    57\t444\t568\t583\t598\t638\t694\t736\t738\t799
6255              33\t177\t274\t489\t573\t740\t792\t883

[6256 rows x 1 columns]

Execute Algorithm

In [5]:
minimumSupportCount=100  #Users can also specify this constraint between 0 to 1.
seperator='\t'

obj = alg.Apriori(iFile=inputFile, minSup=minimumSupportCount, sep=seperator)    #initialize
obj.startMine()            #Start the mining process

frequentPatternsDF= obj.getPatternsAsDataFrame()

Frequent patterns were generated successfully using Apriori algorithm

In [6]:
frequentPatternsDF

    Patterns  Support
0       274       165
1       368       485
2       538       248
3       561       177
4       775       221
..       ...      ...
168     "75       100
169     826       132
170     661       162
171     634       146
172     450       119

[173 rows x 2 columns]

In [7]:
print('Total No of patterns: ' + str(len(frequentPatternsDF)))
print('Runtime: ' + str(obj.getRuntime()))
print('Memory (RSS): ' + str(obj.getMemoryRSS()))
print('Memory (USS): ' + str(obj.getMemoryUSS()))

Total No of patterns: 173
Runtime: 7.2695465087890625
Memory (RSS): 127000576
Memory (USS): 94187520

In [8]:
obj.printResults()

Total number of Frequent Patterns: 173
Total Memory in USS: 94187520
Total Memory in RSS 127000576
Total ExecutionTime in ms: 7.2695465087890625