In [2]:
from PAMI.correlatedPattern.basic import CPGrowth  as alg

#Nama: Joseph Christian
#Kelas: C14200200

inputFile = 'transactional_T10I4D100K.csv'
minAllConfCount=0.1
minimumSupportCount=100  #Users can also specify this constraint between 0 to 1.
seperator='\t'

In [3]:
obj = alg.CPGrowth(iFile=inputFile, minSup=minimumSupportCount,  
                   minAllConf=minAllConfCount ,sep=seperator)   #initialize
obj.startMine()

Correlated Frequent patterns were generated successfully using CorrelatedPatternGrowth algorithm

In [4]:
frequentPatternsDF= obj.getPatternsAsDataFrame()
frequentPatternsDF

    Patterns  Support  Confidence
0       450       119         1.0
1       634       146         1.0
2       661       162         1.0
3       826       132         1.0
4       "75       100         1.0
..       ...      ...         ...
168     775       221         1.0
169     561       177         1.0
170     538       248         1.0
171     368       485         1.0
172     274       165         1.0

[173 rows x 3 columns]

In [5]:
obj.printResults()

Total number of Correlated Patterns: 173
Total Memory in USS: 96583680
Total Memory in RSS 128806912
Total ExecutionTime in ms: 0.21517229080200195